@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

body{
    background-color: #f4f4f4;
}

.is-screen {
    inline-size: 100vw;
}

.is-full {
    inline-size: 100%;
}

.max-is-prose {
    max-inline-size: 65ch;
}

.bs-screen {
    block-size: 100vh;
}

.plb-1 {
    padding-block: .25rem;
}

.plb-2\.5 {
padding-block: .625rem;
}

.pli-2 {
    padding-inline: .5rem;
}

.pli-4 {
    padding-inline: 1rem;
}

.is-auto {
    inline-size: auto;
}

.bs-4 {
    block-size: 1rem;
}

.mlb-3 {
    margin-block: .75rem;

}

.mbs-4 {
    margin-block-start: 1rem;
}

.max-is-\[22\.8rem\] {
    max-inline-size: 22.8rem;
}


